<div container>
  <h1 class="heading">Creating a new application</h2>
    <div class="jumbotron">
      <ul type='1'>
        <li> $rails new application_name.</li>
     <li>You are counter with some error if there is some lackness in the installation.</li>
      <li> If not then your application is created with some default layout.</li>
      4. Now go to your GitBash terminal and wake the dragan.<br>
      5. $rails s
      6. Go your Browser and type in the address bar http://localhost:3000<BR>
      7. Your application is created.<BR>
      8. If page is not loaded than check whether the dragan is running or not.<BR>
    </div>
   <h1 class="heading">Git Configuration</h1>
    <div class="jumbotron">
      1. $git config --global user.name "username"<BR>

      2. $git config --global user.email "email_address@something.com" <BR>

      3. Go to current application folder and initialise the git by following command or setup git. <BR>4. $git init<BR>

      5. Saving project in the github is follows the sequence >>Stage>> Commit<BR>
      6. List files which git is tracking or not.>>> <b>$git status</b><BR>
      7. If somebody don't want to track files than add the name of specific file to the gitignore file in current application folder.<BR>
      8. Staging the files>>>>$git add .<BR>
      9. Saving the files >>>>$git commit -am "message"<BR>
      10. If you do something wrong e.g. deleting file unintenstionally and you <b>Staged</b> but not committed than use this>>>>>$git checkout -f<BR>
      11. It helps to backup, share and keep track of changes made in your project.

    </div>  

    <h1 class="heading">Adding pages to application</h1>
    <div class="jumbotron">
      1. $ rails generate controller pages home<BR>

      2. Open sublime text with application folder.<BR>

      3. Go to "app/views/pages/home.html.erb".<BR>

      4. If you know html little bit edit the page using tags and add element to it.<BR>

      5. 

    </div>  


</div>
